/* .body2{  */
    /* margin: 0;
    padding: 0;
    background-image: url("bothdoctors.png");
    background-color:white;
    background-repeat: no-repeat;
  
    background-attachment: fixed;
     background-position: right; */
 .backgr {
        /* background-color: rgb(110, 145, 145); */
        margin:0;
        padding:0;
        background-image: url("bothdoctors.png");
        background-repeat: no-repeat;
        background-position: right;
        background-attachment:fixed;
        background-size:100vh;
        height: 100vh;
       
    }



.head{
     text-align:left;


}
.search-box{
   
 
    flex-direction:column;
    align-items: left;
    margin-left: 20%;
      
}
.searchbutton{
    color: blueviolet;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50% 20% / 10% 40%;
    display: flex;
    justify-content: center;
    align-items: right;
    
    

    
}
.class{
    text-align: left;
}
.search-bu{
    width:70px; 
    border-radius: 1em;
    
}
.search-txt{
    border-style: inset;;
    border-radius: 20px;
    margin: 20px;
    width: 250px;
    font-size: 16px;
   


}
.direction{
    display:flex;
    flex-direction: row;
    border-style:  solid;
    border-radius: 20px;
    border-color:rgb(247, 203, 144);
    width:570px;
    height: 300px;
   margin-bottom: 50px;
   
   

}
.joslina{
    display:inline;
    padding:0;
    height:1000px;
    width: 300px;
    margin-bottom: 0;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    image-resolution: left;
    background-color: transparent;
    margin-left: 10px;
    
   
}
.searchbox{
    border-style: outset;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    height:30px;
    width: 300px;
}
.searching-doctor{
    margin-right: 300px;
    margin-left: 300px;
    height: 100px;
}
.listpage{
    display:flex;
    flex-direction: row;
    image-orientation: 0grad;
    
   
    
}

.doctorname{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 900;
}
.exper{
    font-family: sans-serif;
    font-size: 20px;
    font-display:30px ;
    font-weight: 900; 
    margin-right: 50px;
    
    
}

.btn-secondary{
    background-color: blue;
}


.image{
    height:100px;
    width: 150px;
    right: 30px;
    text-align: center;
    image-orientation: left;
    image-resolution: left;
    border-image-width:2.6rem;
    border-radius: 30px;
   

}
 btn-secondary{
    background: fixed;
    background-color: blue;
}
.jerry{
    background-repeat: no-repeat;
    background-position: 20px 30px;

}