.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .heading {
    text-align: center;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
  th,
  td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
    font-size: 25px;
  }
  
  th {
    background-color: rgb(157, 170, 120);
  }
  
  td {
    background-color: rgb(185, 210, 230);
  }
  
  form {
    display: flex;
    gap: 7px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }

  .table-container {
    background-color: rgb(182, 203, 212);
    height:100vh;
  }